<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <true/>
        <key>UISceneConfigurations</key>
        <dict/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    
    <key>NSCameraUsageDescription</key>
    <string>Insight needs camera access for Reality Anchors.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Insight needs microphone access to record voice notes.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Insight needs speech recognition to transcribe your notes.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Insight needs calendar access to schedule events.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Insight needs location to tag your notes.</string>
    
    <key>NSFaceIDUsageDescription</key>
    <string>We use Face ID to securely unlock your private notes.</string>
    
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Insight needs access to save Crystal Cards to your library.</string>
    
</dict>
</plist>
